<div class="mat-elevation-z8">
  <div fxLayout fxLayoutAlign="center center">
    <mat-form-field class="example-full-width">
      <input matInput type="text" (keyup)="doFilter($event)" placeholder="Filter">
    </mat-form-field>
  </div>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="libelle">
      <th mat-header-cell *matHeaderCellDef> Libelle </th>
      <td mat-cell *matCellDef="let detailLoyer"> {{detailLoyer.libelle}} </td>
    </ng-container>
    <ng-container matColumnDef="montant">
      <th mat-header-cell *matHeaderCellDef> Montant </th>
      <td mat-cell *matCellDef="let detailLoyer"> {{detailLoyer.montant}} </td>
    </ng-container>
    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef> Update </th>
      <td mat-cell *matCellDef="let detailLoyer">
        <button mat-icon-button color="accent" (click)="redirectToUpdate(detailLoyer.id)">
          <mat-icon class="mat-18">system_update</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let detailLoyer">
        <button mat-icon-button color="warn" (click)="redirectToDelete(detailLoyer.id)">
          <mat-icon class="mat-18">delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[1, 2, 20]" showFirstLastButtons></mat-paginator>
</div>
