table {
  width: 100%;
}
.mat-card{
  border: 1px solid aliceblue;
  max-width: 600px;
}
.site{
  font-family: "Times New Roman", Times, serif;

}
/*.mat-list{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap:  wrap;
  flex-grow: 1;
  flex-basis: 100%;

}*/

.lelabel{
  font-family: "Times New Roman", Times, serif;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  height: 200px;
}

.container * {
  box-sizing: border-box;
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 15px;
  border: none;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

.flex-inner li {
  width: 100px;
}
md-chip {
  max-width: 50px;
  height: 32px;

}

.ens-container {

  height: 400px;

}

md-chip {
  max-width: 450px;
}


.listes{
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;

}
.item{
  margin: 5px;


}

.item:nth-child(1){
  flex: 6;
}
.item:nth-child(2){
  margin: 5px;

  flex: 1;

  height: auto;


}

.item:nth-child(3){
  flex: 8;
  display:flex;
  flex-direction: row;
  justify-content: center;
}



.action {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.action-1{
  margin: 5px;
  margin-bottom: 10px;
}
.action-2{
  margin: 5px;
  margin-bottom: 10px;
}
.action-3{
  margin: 5px;
  margin-bottom: 10px;
}

.contsidnav{
  height: 410px;
}
.box {
  display: flex;
  flex-wrap: wrap;
}



