<div *ngIf="travaux">
  <mat-accordion class="example-headers-align" >
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p>Les informations sur le chantier</p>
        </mat-panel-title>
        <mat-panel-description>
          {{panelOpenState ? 'Fermer' : 'Ouvrir'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <h3 class="site">Site : {{travaux.site.nom}}</h3>
      <h3 class="site">Numero du bon  : {{travaux.numeroBon}}</h3>
      <h3 class="site">Nom du chantier : {{travaux.nomChantier }}</h3>
      <h3 class="site">Budget : {{travaux.budget  }}</h3>
      <h3 class="site"> Solde : {{travaux.reste}}</h3>
      <h3 class="site">Dépense : {{travaux.total}}</h3>
      <h3 class="site">Debut des travaux : {{travaux.date | date: 'dd/MM/yyyy'}}</h3>
      <h3 class="site">Date de livraison :  {{travaux.dateLivraison | date: 'dd/MM/yyyy'}} </h3>
      <button mat-button color="primary">Modifier</button>
    </mat-expansion-panel>
  </mat-accordion>
  <br>
  <mat-divider></mat-divider>
  <div fxLayout="row" fxLayoutAlign="space-around center">
      <button mat-button (click)="achat()" color="accent">Ajout achat</button>
      <button mat-button (click)="location()" color="accent">Ajout location</button>
      <button mat-button (click)="loyer()" color="accent">Ajout loyer</button>
      <button  mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu = "matMenu" yPosition="above">
      <button mat-menu-item (click)="ouvre()">
        <span>Ajout main d'ouvre</span>
      </button>
    <button mat-menu-item (click)="transport()">
        <span>Ajout transport</span>
      </button>
    <button mat-menu-item (click)="autre()">
        <span>Ajout Autres</span>
      </button>
      </mat-menu>
    </div>
  <div>
    <app-edit-achat-travaux travauxId="{{travauxId}}" *ngIf="edit==0" (change)="montantChange($event)"></app-edit-achat-travaux>
    <app-edit-location-travaux  travauxId="{{travauxId}}" *ngIf="edit==2" (change)="montantChange($event)"></app-edit-location-travaux>
    <app-edit-mainouvre-travaux travauxId="{{travauxId}}" *ngIf="edit==3" (change)="montantChange($event)"></app-edit-mainouvre-travaux>
    <app-detail-loyer travauxId="{{travauxId}}" *ngIf="edit==4" (change)="montantChange($event)"></app-detail-loyer>
    <app-edit-transp-travaux travauxId="{{travauxId}}" *ngIf="edit==5" (change)="montantChange($event)"></app-edit-transp-travaux>
    <app-edit-autredepense-travaux travauxId="{{travauxId}}" *ngIf="edit==6" (change)="montantChange($event)"></app-edit-autredepense-travaux>
  </div>
</div>

