<div class="main-div">
  <div *ngIf="editMode; else newAchat">
    <div class="">
      <mat-card>
        <mat-card-header>
          <mat-card-title> modifier un achat ou une location pour les travaux</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <form [formGroup]="salaireForm" (ngSubmit)="onSubmit()" novalidate *ngIf="salaireForm">

          <mat-form-field>
            <input matInput placeholder="employe" formControlName="employe">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="montant" formControlName="montant">
          </mat-form-field>
          <hr>
          <div>
            <button mat-raised-button color="primary" type="submit"> Modifier
            </button>
            <button mat-raised-button color="accent" type="button">Annuler
            </button>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
  <ng-template #newAchat>
    <mat-card>Payer un salaire</mat-card>
    <br>
    <div class="well">
      <mat-card>
        <mat-card-header>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <form [formGroup]="salaireForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="achat">

            <mat-form-field>
              <input matInput placeholder="employe" formControlName="employe">
            </mat-form-field>

            <mat-form-field>
              <input matInput type="number" placeholder="montant" formControlName="montant">
            </mat-form-field>

            <mat-form-field>
              <input matInput type="text" placeholder="date" formControlName="date">
            </mat-form-field>

          </div>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <button mat-raised-button class="boutonEnr" type="submit"> Enregistrer
            </button>
            <button mat-raised-button class="boutonAnn" type="button" type="reset" >Annuler
            </button>
          </div>
        </form>
      </mat-card>
    </div>
  </ng-template>
</div>


