<div class="mat-elevation-z8">
  <div fxLayout fxLayoutAlign="center center">
    <mat-form-field class="example-full-width">
      <input matInput type="text" (keyup)="doFilter($event)" placeholder="Filter">
    </mat-form-field>
  </div>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let loyer"> {{loyer.createdAt | date:'dd-MM-yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
      <td mat-cell *matCellDef="let loyer"> {{loyer.montant | number:'.'}} </td>
    </ng-container>
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef> Details </th>
      <td mat-cell *matCellDef="let locations">
        <button mat-icon-button color="primary" (click)="openDialog(locations.id)">
          <mat-icon class="mat-18">reorder</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef> Update </th>
      <td mat-cell *matCellDef="let loyer">
        <button mat-icon-button color="accent" (click)="redirectToUpdate(loyer.id)">
          <mat-icon class="mat-18">system_update</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let loyer">
        <button mat-icon-button color="warn" (click)="redirectToDelete(loyer.id)">
          <mat-icon class="mat-18">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[1, 2, 20]" showFirstLastButtons></mat-paginator>
</div>
