<div class="main-div">
  <div *ngIf="editMode; else newAchat">
    <div class="">
      <mat-card>
        <mat-card-header>
          <mat-card-title> modifier autre dépense</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <form class="example-form" [formGroup]="autreDepenseForm" (ngSubmit)="onSubmit()" novalidate *ngIf="autreDepenseForm">
          <div class="achat">
            <div class="row">
              <div formArrayName="detailAutres">
                <div *ngFor="let itemrow of autreDepenseForm.controls.detailAutres['controls']; let i=index"
                     [formGroupName]="i">
                  <mat-form-field  class="example-full-width">
                    <input  #montant type="text" matInput placeholder="Libelle" formControlName="libelle">
                  </mat-form-field>
                  <mat-form-field  class="example-full-width">
                    <input  #montant type="number" matInput placeholder="Montant" formControlName="montant">
                  </mat-form-field>
                </div>
              </div>
            </div>

            <hr>
            <div fxLayout="row" fxLayoutAlign="space-between">
              <button mat-raised-button class="boutonEnr" type="submit"> Enregistrer
              </button>
              <button mat-raised-button class="boutonAnn" type="button" type="reset">Annuler
              </button>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
  <ng-template #newAchat>
    <form class="example-form" [formGroup]="autreDepenseForm" (ngSubmit)="onSubmit()" novalidate>
          <mat-card> Effectuer le paiement pour autre dépense</mat-card>
          <br>
        <div class="well">
          <mat-card>
          <div class="achat">
            <div class="row">
              <div formArrayName="detailAutres">
                <div *ngFor="let itemrow of autreDepenseForm.controls.detailAutres['controls']; let i=index"
                     [formGroupName]="i">
                  <mat-action-row>
                    <button type="button" mat-mini-fab color="warn" (click)="deleteRow(i)">
                      <mat-icon class="material-icons">delete</mat-icon>
                    </button>
                  </mat-action-row>
                  <mat-form-field  class="example-full-width">
                    <input  #montant type="text" matInput placeholder="Libelle" formControlName="libelle">
                  </mat-form-field>
                  <mat-form-field  class="example-full-width">
                    <input  #montant type="number" matInput placeholder="Montant" formControlName="montant">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <mat-action-row>
              <button type="button" mat-raised-button color="warn" (click)="addNewRows()">
                <span class="material-icons">add</span>
              </button>
            </mat-action-row>
            <hr>
            <div fxLayout="row" fxLayoutAlign="space-between">
              <button mat-raised-button class="boutonEnr" type="submit"> Enregistrer
              </button>
              <button mat-raised-button class="boutonAnn" type="button" type="reset">Annuler
              </button>
            </div>
          </div>
          </mat-card>
        </div>
        </form>


  </ng-template>
</div>


