.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('/assets/img/oryz3.jpg');
  background-size: cover;
}
.main-div{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;


}
